.detail-comment-subpage {
    background-color: #fff;
    margin-top: 0.85rem;
    h2 {
	    font-size: 0.77rem;
	    padding: 0.21rem 0.43rem;
	    border-bottom: 1px solid #f1f1f1;
	}
}
.comment-list {
    padding: 0.43rem 0.43rem 0 0.43rem;
}