.comment-item {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 0.43rem;
    padding-top: 0.43rem;
    h3 {
        font-size: 0.77rem;
        line-height: 1.5;
        color: #666;
    }
    p {
        font-size:0.6rem;
        color: #999;
        line-height: 1.5;
    }
}