.userinfo-container {
    background-color: #fff;
    padding: 0.43rem;
    p {
        font-size: 0.85rem;
        line-height: 1.5;
        color: #666;
    }
    i {
        padding: 0.09rem 0;
    }
    span {
        padding-left: 0.43rem;
    }
}

.order-list-container {
    margin-top: 0.64rem;
    background-color: #fff;
    padding: 0.43rem;
    h2 {
        font-size: 0.68rem;
        color: #333;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 0.43rem;
    }
}
